Let me take a scenario to understand how comprehensions topic would benefit our codes. The goal of the script is to transfer contents from a list to new list after multiplying all the values in old list by 2. The code for that is given below.

In [1]:
old_list=[1,2,3,4,5]
new_list=[]
for i in old_list:
  new_list.append(i*2)
new_list

[2, 4, 6, 8, 10]

Well the code worked perfectly but it is a bit lengthy. Let me take another sample code for below code.

In [2]:
[i * 2 for i in old_list]

[2, 4, 6, 8, 10]

Well, the second code is also giving the same output and using second one will save lot of effort and time. As number of lines decreases, performance of the program increases as time complexity decreases. The second code was written using the comprehensions concept which helps us to decrease lines in code and increase performnace.

In [4]:
old_list=[1,2,3,4,5]
new_list=[]
for i in old_list:
  if(i%2==0):
   new_list.append(i*2)
new_list

[4, 8]

You might wonder, what if we are having an if statement, which make things a bit tougher. Let me rewrite the short version of code using the if block.

In [5]:
[i*2 for i in old_list if i % 2 == 0]

[4, 8]

If you are having another condition, then you can add it at the last to indicate that the second condition (if) is nested under the first condition (i in old_list). In the similar, we can use comprhenesions to write scripts with different blocks under the for loop.

In [26]:
old_list = [1, 2, 3, 4, 5]
new_list = []

for i in range(16):
  if(i%3==0):
   if(i%2==0):
     new_list.append(i)
   else:
     new_list.append(i*2)
new_list

[0, 6, 6, 18, 12, 30]

The above code is having complex if and else statements in one if block. The above code can be minimzed using comprehensions as follows;

In [6]:
[i if i % 2 == 0 else i * 2 for i in range(16) if i % 3 == 0]

[0, 6, 6, 18, 12, 30]

Now, the code is executed in the following order. First the last condition is checked and if it is true then piece of code before gets executed and if it false, there is nothing so leave it. In the inner piece of code also, there is if and else block. Keep those under first if-true part of code. Here the last condition is acting as filter.

In [27]:
old_list = 'abcde'
new_list = []
for i in range(len(old_list)):
    if i % 2 == 0:
        new_list.append(old_list[i])
new_list

['a', 'c', 'e']

Old list is having abcde, there is nothing in new line. Loop is iterated, all the even number places: 0,2,4 having 'a','c', and 'e' will be appended to new list and at last, it is printed.

In [28]:
[char for idx, char in enumerate('abcde') if idx % 2 == 0]

['a', 'c', 'e']

Just like the previous code, above code also prints the same thing. Compared to previous code, this code is shorter and simple. I am using 'enumerate' method which will convert the given string into part of individual characters. Rest of thing is same as the above examples where we have first thing to be caluculated at first. It is a list varaible which we must print and then idx stands for index and we are adding values at even indices into the list.

Let me take another example code implementing the concpet further. Below code is taking a list which has five elements {a,b,c,d,e}. Now I will be iterating that list using 'i' variable and checking what elements are there at even places. Let me take another variable to store values at even places, 'c'. If c is having any vowels, then I will be captailizing those otherwise let it be small case letters itself. Lastly, add all c elements into new_list and print it.

In [29]:
old_list = 'abcde'
new_list = []
for i, c in enumerate(old_list):
    if i % 2 == 0:
        if c in 'aeuio':
            char = c.upper()
        else:
            char = c
        new_list.append(char)
new_list

['A', 'c', 'E']

Let me write compressed version of above python script with the methodology we used for above examples. If you feel it is very lengthy, you can break the line and add rest of them in seperarte lines to look more simple and readable.

In [31]:
[c.upper() if c in 'aeuio' else c for i, c in enumerate(old_list) if i % 2 ==0]

['A', 'c', 'E']

In [32]:
for i in range(5):
    for j in range(i):
        print((i, j))

(1, 0)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)
(4, 3)

Above code deals with dual for loops. It can also be compressed further. Let us see how it can be done.

In [34]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

You can further complex the example by adding an extra conditions for both the for loops. Let me write the code for it.

In [36]:
for i in range(5):
    if i > 2:
        for j in range(i):
            if j < 2:
                print((i, j))

(3, 0)
(3, 1)
(4, 0)
(4, 1)

The above code must be again compressed using all the above theories we have used on various examples. The if conditions must be correctly placed. The simplified version of code will be below.

In [37]:
[(i,j) for i in range(5) if i>2 for j in  range(i) if j<2]

[(3, 0), (3, 1), (4, 0), (4, 1)]

First let me fill upto previous one without considering the if conditions. Then next thing to be added is first condition after first for loop and second if condition must be at last as it is the inner code

In [39]:
[c for i, c in enumerate('abceabce') if i < 5] #using as list-comprhension
{c for i, c in enumerate('abceabce')} #using as set comprehensions
tuple(c for i, c in enumerate('abceabce')) #using as tuple comprehensions
{i: c for i, c in enumerate('abceabce') if i < 5} #using as dictionaries

{0: 'a', 1: 'b', 2: 'c', 3: 'e', 4: 'a'}

Apart form lists, comprehensions can also be used as many data containers like lists, sets, tuples and dictionaries. Example is given in above code with each line depicting one unique application of comprehension.
So just like in previous operations, I can do every operation on dictonaries, tuples, sets etc

In [42]:
{c: i for i, c in enumerate('abcdef')}

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}

The above code says that we can interchnage order of keys and values according to our interest. In previous output, keys were numbers and values were alphabets and now it is vice versa. One problem  might arise due to difference in peroperties between lists and dictionaries.

In [43]:
{c: i for i, c in enumerate('abcdefa')}

{'a': 6, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}

The problem metioned in previous case is depicted here. In dictionaries, key must be unique and if you are giving repeated values then, the most recent value wil; be taken as the key. There were two keys '0' and '6' given to a but then key updated to '6' and '0' value just got discarded.

In [44]:
arr = [('a', 1), ('b', 2), ('c', 2)]
for idx, (char, i) in enumerate(arr):
    print(idx, char, i)

0 a 1
1 b 2
2 c 2

Index and content of the tuple is given using for loop. Enumareted can give ectra flexibility while dealing with tuple comprehensions. Let me give how to do it in next code as example.

In [45]:
[{key: value, 'i': idx} for idx, (key, value) in enumerate(arr)]

[{'a': 1, 'i': 0}, {'b': 2, 'i': 1}, {'c': 2, 'i': 2}]

It is simply unboxing with giving key and value pair as a dictionary. But to that I can add index aslo for detailed information.

In [46]:
d = {'a': 1, 'b': 2, 'c': 3}
[(k, v) for k, v in d.items()]

[('a', 1), ('b', 2), ('c', 3)]

Using the above code, I can unpack the values in dictionary and display them in a seperate format. Using items method can give you flexibility to display them in any format you like.

In [48]:
[(a, b) for a, b in zip([1, 2, 3], [4, 5, 6])]

[(1, 4), (2, 5), (3, 6)]

When you are having different set of comprehensions and merge them together like first element from the first set and second element from the other set, then zip method will be very helpful.

In [49]:
[(a, b, c) for a, b, c in zip([1, 2, 3], [4, 5, 6], [7, 8, 9])]

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In the similar way, you can also group three arrays together as a single comprehension using the zip method like the above one.